VacationPlanningManifest/force-app/main/default/flows/VacationTaskRTF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FlowApex</name>
        <label>FlowApex</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>FlowUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopVacayTask</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>$Record.Vacation_Task__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>splitListOfTasks</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>VacationTask</name>
        <label>VacationTasks</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>LoopVacayTask</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Record.Vacation_Start_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>LoopVacayTask</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <description>Task created for the values selected in the field</description>
    <formulas>
        <name>THreeDaysBeforeVacationStartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Vacation_Start_Date__c}-3</expression>
    </formulas>
    <interviewLabel>VacationTaskRTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VacationTaskRTF</label>
    <loops>
        <name>LoopVacayTask</name>
        <label>LoopArrayedVacayTask</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>splitListOfTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VacationTask</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FlowApex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vacation_Task__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Vacation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>normaltext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>splitListOfTasks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vacationTasks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
