VacationPlanningApplication/force-app/main/default/flows/ExpenseRollupRTFforVacationExpense.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>TotalExpenseFormula</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!TotalExpense},0)+BLANKVALUE({!$Record.Fare__c},0)-BLANKVALUE({!$Record__Prior.Fare__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ExpenseRollupRTFforVacationExpense {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ExpenseRollupRTFforVacationExpense</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTotalExpenseFromVacation</name>
        <label>GetTotalExpenseFromVacation</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateVacationTotalExpense</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vacation__c</elementReference>
            </value>
        </filters>
        <object>Vacation__c</object>
        <outputAssignments>
            <assignToReference>TotalExpense</assignToReference>
            <field>Total_Expense__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateVacationTotalExpense</name>
        <label>UpdateVacationTotalExpense</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vacation__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Expense__c</field>
            <value>
                <elementReference>TotalExpenseFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Vacation__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTotalExpenseFromVacation</targetReference>
        </connector>
        <object>Vacation_Planning_and_Expense__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalExpense</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
