VacationPlanningApplication/force-app/main/default/flows/Status_Update_RTF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>what will be the value for status field in vacation???Set status field as per start and end date of vacation.</description>
        <name>Status</name>
        <label>Status?</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Set_status_to_Planned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vacation_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Vacation_End_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_to_start</targetReference>
            </connector>
            <label>Started</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vacation_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_to_completed</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <description>Update status field as per start and end date of vacation.</description>
    <interviewLabel>Status Update RTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Status Update RTF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>set status field to completed if vacation end date equal to today</description>
        <name>Set_status_to_completed</name>
        <label>Set status to completed</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_status_to_Planned</name>
        <label>Set status to Planned</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Status will be stared if vacation start date is equal to current date</description>
        <name>Set_status_to_start</name>
        <label>Set status to started</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Started</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Vacation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
